.main-container {
      position: relative;
      width: 55vw;
      height: 90vh;
      border: 0px solid black;
      display: static;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow: auto;
      text-align:center;

    }
.h1 {

    text-align:center;

}