<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Companies Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<style>
</style>

</head>
<body>

<div class="container" style="">
    <button onclick=window.location.href="manageCompanies">Companies list</button>
    </br>
    <button onclick=window.location.href="addCompany">Add Company</button>
    </br>
    <button onclick=window.location.href="removeCompany">Remove Company</button>
</div>


</body>
</html>