<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deliveries Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<style>
</style>

</head>
<body>

<div class="container" style="">
    <button onclick=window.location.href="manageDeliveries">All deliveries</button>
    </br>
    <button onclick=window.location.href="openDeliveries">Open Deliveries</button>
    </br>
    <button onclick=window.location.href="closedDeliveries">Closed Deliveries</button>
</div>


</body>
</html>