<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<style>
</style>

</head>
<body>

<div class="container" style="">
    <button onclick=window.location.href="logs">All Logs</button>
      </br>
    <button onclick=window.location.href="routeLogs">Route Logs</button>
      </br>
    <button onclick=window.location.href="userManageLogs">User Managing Logs</button>
      </br>
    <button onclick=window.location.href="messagesLogs">Messages Logs</button>
      </br>
    <button onclick=window.location.href="userInfoLogs">User Personal</button>
    </br>
</div>


</body>
</html>