<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Managers Bar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
</head>
<body>

<div class="container" style="">
    <button onclick=window.location.href="manageManagers">Managers list</button>
    </br>
    <button onclick=window.location.href="addManager">Add Manager</button>
    </br>
    <button onclick=window.location.href="removeManager">Remove Manager</button>
</div>

</body>
</html>