<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routes Bar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
</head>
<body>

<div class="container">
    <button onclick=window.location.href="newRoute">New Route</button>
    </br>
    <button onclick=window.location.href="assignRoute">Assign Route</button>
    </br>
    <button onclick=window.location.href="reassignRoute">Reassign Route</button>
    </br>
    <button onclick=window.location.href="viewRoutes">View Routes</button>
</div>

</body>
</html>