<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">

<style>

</style>

</head>
<body>

{% include 'navbar.html' %}
{% include 'driverBar.html' %}

<div class="main-container">

    <div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
      <h1>Message</h1>
      </br>
    <form action="/addDriver" method="POST">
        <div class="formbold-input-flex">
          <div>
            <label for="message" class="formbold-form-label"> Message </label>
            <textarea
                rows="6"
                name="message"
                id="message"
                placeholder="Type your message"
                class="formbold-form-input"
            ></textarea>
        </div>
        </div>
        </br>
        <button class="formbold-btn">
            Add Manager
        </button>
    </form>
  </div>
</div>

</div>


</body>
</html>