<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<style>
</style>

</head>
<body>

<div class="container" style="">
    <button onclick=window.location.href="user_page">My Profile</button>
    </br>
    <button onclick=window.location.href="changePassword">Change Password</button>
    </br>
    <button onclick=window.location.href="logout">Logout</button>
</div>


</body>
</html>