<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Route Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tableStyle.css') }}">

    <style>
        iframe{
            height:calc(85vh);
            width:calc(45vw);
        }
    </style>

</head>
<body>

{% include 'navbar.html' %}
{% if session['user_type'] != 3 %}
{% include 'routebar.html' %}
{% endif %}

<div class="main-container">
<iframe src="{{ url_for('map_display') }}"></iframe>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Origin</th>
            <th>Destinations</th>
            <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ origin }}</td>
            <td>{{ destinations }}</td>
            <td>{{ distance }}</td>
        </tr>

        <tbody>
    </table>
</div>
</div>


</body>
</html>