<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Routes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tableStyle.css') }}">

  <style>

  </style>
</head>
<body>

{% include 'navbar.html' %}
{% include 'routeBar.html' %}

<div class="main-container">

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Date & Time</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Distance</th>
            <th>Click to view</th>
        </tr>
        </thead>
        <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route[7] }} {{ route[8] }}</td>
            <td>{{ route[4] }}</td>
            <td>{{ route[5] }}</td>
            <td>{{ route[6] }}KM</td>
            <td>
                <form action="/newRouteDisplay" method="POST">
                <div id="button-container">
                    <button type="submit" value="{{ route[9] }}" id="route_filename" name="route_filename" style="font-size: 15px;">-></button>
                </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
    </div>
</div>



  <script>

  </script>


</body>
</html>