<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Deliveries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tableStyle.css') }}">
<style>

</style>

</head>
<body>

{% include 'navbar.html' %}
{% include 'deliveriesBar.html' %}

<div class="main-container">

    <h1>Deliveries</h1>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Origin</th>
            <th>Destinations</th>
            <th>Distance</th>
            <th>Date created</th>
            <th>Time created</th>
            <th>Assigned to</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route[0] }}</td>
            <td>{{ route[4] }}</td>
            <td>{{ route[5] }}</td>
            <td>{{ route[6] }}</td>
            <td>{{ route[7] }}</td>
            <td>{{ route[8] }}</td>
            {% if route[3] == -1 %}
            <td>UNASSIGNED</td>
            {% else %}
            <td>{{ route[3] }}</td>
            {% endif %}
            {% if route[10] == 1 %}
            <td>🗸</td>
            {% else %}
            <td>X</td>
            {% endif %}
        </tr>
        {% endfor %}

        <tbody>
    </table>
</div>


</body>
</html>