<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">


</head>
<body>

{% include 'navbar.html' %}
{% include 'userBar.html' %}

<div class="main-container">

    <div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
      <h1>Change Password</h1>
      </br>
    <form action="/changePassword" method="POST">
        <div class="formbold-input-flex">
          <div>
              <label for="currentPassword" class="formbold-form-label"> Current Password </label>
              <input
              type="password"
              name="currentPassword"
              id="currentPassword"
              placeholder="Current Password"
              class="formbold-form-input"
              />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
              <label for="newPassword" class="formbold-form-label"> New Password </label>
              <input
              type="text"
              name="newPassword"
              id="newPassword"
              placeholder="New Password"
              class="formbold-form-input"
              />
          </div>
        </div>
        </br>
        <div class="formbold-input-flex">
            <div>
              <label for="confirmPassword" class="formbold-form-label"> Confirm Password </label>
              <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Confirm Password"
              class="formbold-form-input"
              />
          </div>
        </div>

        <button class="formbold-btn">
            Change Password
        </button>
    </form>
      <p>{{ status }}</p>
  </div>
</div>

<script>

</script>

</body>
</html>