<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">


</head>
<body>

{% include 'navbar.html' %}
{% include 'userBar.html' %}

<div class="main-container">
  <h1>Change Password</h1>
  <form action="/changePassword" method="POST">
    <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" required><br><br>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required><br><br>

        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

      <button type="submit" value="Change Password">Change password</button>
</form>

    </br>
    <p>{{ status }}</p>


</div>

<script>

</script>

</body>
</html>