<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ session['username'] }} User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='barContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainContainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tableStyle.css') }}">


</head>
<body>

{% include 'navbar.html' %}
{% include 'userBar.html' %}

<div class="main-container" style="text-align: left;">
    <h1>User information</h1> </br>
    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user_info[0] }}</td>
            <td>{{ user_info[1] }}</td>
            <td>{{ user_info[2] }}</td>
            <td>{{ user_info[3] }}</td>
            <td>{{ user_info[4] }}</td>
        </tr>

        <tbody>
    </table>
</div>
</div>


</body>
</html>